body {
    /* background-image: url("station.jpg");
    background-size: cover; */
    background-color: black;
    font-family: -apple-system;
    text-align: center;
    height: 100vh;
}
.container {
    background: white;
    max-width: 40%;
    margin: auto;
    border: 10px solid lightgrey;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    /* color: white; */
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    /* color: white; */
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkorange;
}

#save-btn {
    background: darkgreen;
}
#decrement-btn {
    background: darkblue;
}